* {
  background-color: black;
  font-family: Verdana, Arial;
}

h1 {
  color: rgb(255, 204, 0);
  font-size: 50px;
}

div {
  width: 50%;
  margin: auto;
}

.text-boxes {
  background-color: rgba(255, 204, 0, 0.5), inherit;
  color: white;
}

.header {
  text-align: center;
}
