body {
  background-color: black;
  font-family: Verdana, Times, Arial;
}

h1 {
  color: rgb(255, 204, 0);
  font-size: 50px;
}

div {
  width: 50%;
  margin: auto;
}

img {
  align-content: center;
}

.text-boxes {
  background-color: rgba(255, 204, 0, 0.5);
  padding: 10px;
}

.header {
  text-align: center;
}
