@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Source+Serif+Pro:wght@400;600&display=swap');
/* SSP is for the headers and #info, Courier Prime is for the excerpt */

body {
  background-color: ivory;
  font-family: 'Source Serif Pro', Times, serif;
}

div {
  width: 50%;
  margin: auto;
  padding: 1em;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 6em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
}

a:hover {
  font-style: oblique;
}

#excerpt p {
  font-family: 'Courier Prime', Courier, monospace;
  text-indent: 3em;
}

/* This is a reference to the book: in it, the word house is always colored blue */
.house {
  color: rgb(24, 24, 164);
}
