body {
  margin: 0;
  padding: 0;
  background-color: #ffc;
}
/* This comment marks the beginning of the portion for the navbar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f93;
}
.nav-div {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown:hover .dropdown-content, .dropdown-item {
  display: block;
}
/* This comment marks the end of the portion for the navbar */
.index-image img {
  width: 100%;
}
p {
  background-color: rgba(51, 102, 153, 0.5);
  padding: 0.5em;
}
