@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@650&family=Crimson+Pro:wght@300&display=swap');

nav, p {
  font-family: 'Crimson Pro', Times, serif;
  font-weight: 300;
}
span {
  color: rgba(255, 204, 0, 0.5);
  font-size: 2.5em;
}
.dropdown-content {
  font-size: 1.5em;
}
a { color: black; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
p {
  font-size: 1.5em;
}
@media only screen and (min-width: 768px) {
  .nav-div {
    font-size: 2em;
  }
}
