body {
  background-color: black;
  padding: 0;
  margin: 0;
}
/* this begins nav*/
nav {
  background-color: black;
}
.navbar-nonmobile, .dropdown {
  display: none;
}
.navbar-mobile:hover .dropdown {
  display: block;
}
/* this ends nav */
p {
  width: 100%;
  background-color: rgba(255, 204, 0, 0.5);
}
