* {
  box-sizing: border-box;
}
body {
  background-color: black;
  padding: 0;
  margin: 0;
}
/* this begins nav*/
nav {
  background-color: black;
  position: fixed;
  top: 0;
}
.navbar-nonmobile, .dropdown {
  display: none;
}
.navbar-mobile:hover .dropdown {
  display: block;
}
.seven {
  padding: 1em;
}
span {
  border: solid;
  border-width: thick;
  border-color: rgba(255, 204, 0, 0.5);
  border-radius: 100%;
}
.dropdown {
  background-color: rgba(255, 204, 0, 0.5);
  padding: 0.5em;
}
/* this ends nav */
section {
  margin-top: 3em;
}
.index-image {
  width: 100%;
}
p {
  width: 100%;
  background-color: rgba(255, 204, 0, 0.5);
  padding: 0.5em;
}
form {
  background-color: rgba(255, 204, 0, 0.5);
}
.calendar {
  width: 100%;
}
.odd-row {
  background-color: rgba(255, 204, 0, 0.5);
}
.even-row {
  background-color: rgba(255, 204, 0, 0.33);
}

@media only screen and (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
  .navbar-nonmobile {
    display: block;
    background-color: rgba(255, 204, 0, 0.5);
    width: 100%;
  }
  .nav-break {
    border: none;
    color: black;
  }
  .nav-div {
    display: inline-block;
  }
  p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .index-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
