@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@650&family=Crimson+Pro:wght@300&display=swap');

body {
  background-color: black;
  font-family: 'Crimson Pro', Times, serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  color: rgba(255, 204, 0, 0.5);
  font-size: 4em;
}

div {
  width: 50%;
  margin: auto;
}

#header-box {
  width: 100%;
  background-color: black;
  position: fixed;
}

#top {
  margin-top: 10em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-boxes {
  background-color: rgba(255, 204, 0, 0.5);
  padding: 10px;
}

.header {
  text-align: center;
  font-family: 'Cinzel', Times, serif;
  font-weight: 650;
}

p {
  font-size: 1.5em;
}

h2 {
  font-size: 2.5em;
}

h3, h4 {
  color: white;
}

h4:hover {
  color: rgba(255, 204, 0, 0.5);
  border: inset;
  border-color: rgba(255, 204, 0, 0.5);
}
