@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@650&family=Crimson+Pro:wght@300&display=swap');

body {
  background-color: black;
  font-family: 'Crimson Pro', Times, serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  color: rgba(255, 204, 0, 0.5);
  font-size: 4em;
}

div {
  width: 50%;
  margin: auto;
}

#header-box {
  top: 0px;
  width: 100%;
  background-color: black;
  position: fixed;
  margin-top: 0;
}

#dummy-header {
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-boxes {
  background-color: rgba(255, 204, 0, 0.5);
  padding: 20px;
}

.header {
  text-align: center;
  font-family: 'Cinzel', Times, serif;
  font-weight: 650;
}

p {
  font-size: 1.33em;
}

h2 {
  font-size: 2.5em;
}

#box-two img {
  float: left;
  width: 50%;
  max-width: 310px;
  margin-right: .5em;
  margin-left: .5em;
}

form {
  clear: left;
}

h3, h4 {
  color: white;
}

span {
  border: solid;
  border-width: medium;
  border-color: white;
  border-radius: 100%;
}

h4:hover {
  color: rgba(255, 204, 0, 0.5);
  border-color: rgba(255, 204, 0, 0.5);
}
